h1{
    margin-left: 60px;
}

nav ul li{
    float: left;
    margin-left: 20px;
    color: white
}
a{
    color: rgb(77, 73, 73);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}